$nav-color: #047aed;
$primary-color: #0d6efd;
$wow-color: #24104f;
$indigo-color: #6610f2;
$purple-color: #6f42c1;
$pink-color: #d63384;
$danger-color: #dc3545;
$orange-color: #fd7e14;
$warning-color: #ffc107;
$success-color: #198754;
$teal-color: #20c997;
$info-color: #0dcaf0;
$secondary-color: #6c757d;
$gray-800-color: #343a40;
$black-color: #000;
$light-color: #f8f9fa;
$dark-color: #212529;
